.App{
    display: flex;
    flex-direction:row;
  }

  .filterPerformer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px;
    gap: 28px;
    position: relative;
    width: 248px;
    height: 305px;
    background: #6b6969;
    border-radius: 12px;
    position: fixed;
  }
  
  input[type="checkbox"] {
    display:none;
  }
  
  input[type=checkbox]:checked~label {
    color: #B672FF;
    text-decoration: underline;
  }
  
  .filterYear {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 34px;
    gap: 14px;
    position: relative;
    width: 403px;
    height: 92px;
    background: #6b6969;
    border-radius: 12px;
    position: fixed;
  }
  
  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--color);
    border-radius: 60px;
    padding: 6px 20px;
  }
  
  .filter__button:not(:last-child) {
    margin-right: 10px;
  }
  
  